@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Caveat Brush', sans-serif;
  background-color: #e4dde5;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 4rem;
  color: rebeccapurple;
}

button {
  font-family: inherit;
  font-size: 2rem;
  background-color: rebeccapurple;
  color: #f5efe6;
  border: none;
  border-radius: 0.3em;
  padding: 2px 8px;
}

button:hover {
  cursor: pointer;
}

.container {
  height: 800px;
  width: 800px;
  box-shadow: 0 0 2px 4px rebeccapurple;
  border-radius: 0.2em;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  gap: 0;
  margin-top: 1em;
}

.square {
  border: 1px solid lightslategrey;
  width: calc(800px / var(--grid-size));
  height: calc(800px / var(--grid-size));
}
